torch==2.2.2
transformers==4.37.2
accelerate==0.27.2

langchain==0.3.25
langchain-community==0.3.24
langchain-chroma==0.2.4
langchain-experimental==0.3.4
langchain-huggingface==0.2.0
langchainhub==0.1.21

python-dotenv==1.1.0
pypdf
tiktoken==0.12.0
sentence-transformers
chromadb